<!DOCTYPE html>
<html>
<head>
<meta HTTP-EQUIV="Content-Type" Content="text-html; charset=windows-1251">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body topmargin="0" leftmargin="0"  marginheight="0" style="background: url(images/background.jpg) top center no-repeat #000;">


<table style="width:100%; max-width:1280px;" cellspacing="0" cellpadding="0" align="center" >
	<tr>
		<td style="background-color: #002038; width:15%; height:800px; vertical-align:top;" class="prozr">
			<!-- MENU START -->
			<div id="menu">
				<a href="http://10.112.28.35/cam/?mod=live" class="cam">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=archive&day=0&cam=0" class="arc">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=cash" class="bal">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=settings" class="set">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=news" class="news">&nbsp;</a><br>
            </div>
			<!-- MENU END -->
		</td>
		<td align="center" style="width:85%;">
			<!-- MAIN BLOCK START -->
			<div id="main">
				<div style="position:relative; top:0px; left:0px; width:850px; height:800px; text-align:left;">
					<div style="position:absolute; top:10px; left:500px; width:350px; height:104; text-align:left;">
						<img src="images/logo_small.png" width="350" height="104" border="0">
					</div>
					<!-- Переключалка по архивам START -->
					<div style="position:absolute; top:150px; left:25px; text-align:left;">
						<div style="position:relative; top:0px; left:0px; width:450px; height:30px; text-align:left;">
							<div style="position:absolute; top:0px; left:0px; width:150px; height:30;">
								<a href="#" title="Архив крулосуточной записи" onmouseover="document.one.src='images/barch_kruglos_hl.png'; window.status='Архив крулосуточной записи'; return true" onmouseout="document.one.src='images/barch_kruglos.png';"><img src="images/barch_kruglos.png" alt="Архив крулосуточной записи" title="Архив крулосуточной записи" name="one" border="0" width="150" height="30"></a>
							</div>
							<div style="position:absolute; top:0px; left:150px; width:150px; height:30;">
								<a href="#" title="Архив записи по расписанию" onmouseover="document.two.src='images/barch_raspis_hl.png'; window.status='Архив записи по расписанию'; return true" onmouseout="document.two.src='images/barch_raspis.png';"><img src="images/barch_raspis.png" alt="Архив записи по расписанию" title="Архив записи по расписанию" name="two" border="0" width="150" height="30"></a>
							</div>
							<div style="position:absolute; top:0px; left:300px; width:150px; height:30;">
								<a href="#" title="Архив записи по движению" onmouseover="document.three.src='images/barch_move_hl.png'; window.status='Архив записи по движению'; return true" onmouseout="document.three.src='images/barch_move.png';"><img src="images/barch_move.png" alt="Архив записи по движению" title="Архив записи по движению" name="three" border="0" width="150" height="30"></a>
							</div>
						</div>
					</div>
					<div style="position:absolute; top:180px; left:25px; width:800px; height:20px; text-align:left; background-color:#002038; color:#fff; text-width:700; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;" class="prozr">
						<span style="color:#ccc; font-weight: bold; font-family: Arial, Helvetica; font-size: 15px; font-style:normal;">&nbsp;Архив записей:</span>
					</div>
					<!-- Переключалка по архивам END -->
					<!-- Просмотры START-->
					<div style="position:absolute; top:240px; left:26px; text-align:left;">
						<div style="position:relative; top:0px; left:0px; width:799px; height:646px; text-align:left;">
							<div style="position:absolute; top:0px; left:0px; width:799px; height:20; text-align:center; z-index:999"><img src="images/shadow_up.png" width="799" height="20" border="0"></a></div>
							<div style="position:absolute; top:415px; left:0px; width:799px; height:20; text-align:center; z-index:999"><img src="images/shadow_down.png" width="799" height="20" border="0"></a></div>							
							
							<!-- Video inc blocks Start-->
							<div style="position:absolute; top:20px; left:0px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:20px; left:190px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:20px; left:380px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:20px; left:570px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>

							<div style="position:absolute; top:158px; left:0px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:158px; left:190px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:158px; left:380px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:158px; left:570px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>

							<div style="position:absolute; top:296px; left:0px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:296px; left:190px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:296px; left:380px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>
							<div style="position:absolute; top:296px; left:570px; width:170px; height:128; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="170" height="128" border="0"></a></div>							
							<!-- Video inc blocks End-->
							<!-- Стрелки начало-->
							<div style="position:absolute; top:2px; right:2px; width:40px; height:30; text-align:center;"><a href="#"><img src="images/button_arrow_up.png" width="40" height="30" border="0"></a></div>
							<div style="position:absolute; top:405px; right:2px; width:40px; height:30; text-align:center;"><a href="#"><img src="images/button_arrow_down.png" width="40" height="30" border="0"></a></div>
							<!-- Стрелки конец-->
						</div>
					<!-- Просмотры END-->
					</div>
					<!-- Месяца туда-сюда  конец-->
				</div>
			</div>
			<!-- MAIN BLOCK END -->
		</td>
	</tr>
</table>
</center>

</body>
</html>