<!DOCTYPE html>
<html>
<head>
<meta HTTP-EQUIV="Content-Type" Content="text-html; charset=utf-8">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body topmargin="0" leftmargin="0"  marginheight="0" style="background: url(images/background.jpg) top center no-repeat #000;">


<table style="width:100%; max-width:1280px;" cellspacing="0" cellpadding="0" align="center" >
	<tr>
		<td align="center">
			<!-- MAIN BLOCK START -->
			<div id="main">
				<div style="position:relative; top:0px; left:0px; width:850px; height:800px; text-align:left;">
					<div style="position:absolute; top:100px; left:315px; width:535px; height:197; text-align:left;">
						<img src="images/logo_big.png" width="535" height="197" border="0">
					</div>
					<div style="position:absolute; top:150px; left:10px; text-align:left;" id="menu">
						<a href="#" class="cam">&nbsp;</a>
					</div>
					<div style="position:absolute; top:270px; left:100px; text-align:left;" id="menu">
						<a href="#" class="arc">&nbsp;</a>
					</div>
					<div style="position:absolute; top:390px; left:230px; text-align:left;" id="menu">
						<a href="#" class="bal">&nbsp;</a>
					</div>
					<div style="position:absolute; top:490px; left:410px; text-align:left;" id="menu">
						<a href="#" class="set">&nbsp;</a>
					</div>
					<div style="position:absolute; top:590px; left:600px; text-align:left;" id="menu">
						<a href="#" class="news">&nbsp;</a>
					</div>					
				</div>
			</div>
			<!-- MAIN BLOCK END -->
		</td>
	</tr>
</table>


</body>
</html>