<!DOCTYPE html>
<html>
<head>
<meta HTTP-EQUIV="Content-Type" Content="text-html; charset=windows-1251">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body topmargin="0" leftmargin="0"  marginheight="0" style="background: url(images/background.jpg) top center no-repeat #000;">


<table style="width:100%; max-width:1280px;" cellspacing="0" cellpadding="0" align="center" >
	<tr>
		<td style="background-color: #002038; width:15%; height:800px; vertical-align:top;" class="prozr">
			<!-- MENU START -->
			<div id="menu">
				<a href="#"><img src="images/m_back.png" width="83" height="90" border="0"></a><br>
				<p align="center"><img src="images/m_dots.png" width="83" height="41" border="0"></p>
                <a href="#" class="m_runman">&nbsp;</a><br>
                <a href="#" class="m_rec3">&nbsp;</a><br>
                <a href="#" class="m_notif">&nbsp;</a><br>
                <a href="#" class="m_persdata">&nbsp;</a><br>
            </div>
			<!-- MENU END -->
		</td>
		<td align="center" style="width:85%;">
			<!-- MAIN BLOCK START -->
			<div id="main">
				<div style="position:relative; top:0px; left:0px; width:850px; height:800px; text-align:left;">
					<div style="position:absolute; top:10px; left:500px; width:350px; height:104; text-align:left;">
						<img src="images/logo_small.png" width="350" height="104" border="0">
					</div>
					<!-- Left col START-->
					<div style="position:absolute; top:150px; left:26px; text-align:left; font-size:16px; color:#eee;">
						<p><u>Расписание:</u></p><br>
						<table border="0">
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="evening" class="css-checkbox" type="checkbox" />
								<label for="evening" name="evening_name" class="css-label">&nbsp;&nbsp;Вечер</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="morning" class="css-checkbox" type="checkbox" />
								<label for="morning" name="morning_name" class="css-label">&nbsp;&nbsp;Утро</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="day" class="css-checkbox" type="checkbox" />
								<label for="day" name="day_name" class="css-label">&nbsp;&nbsp; День</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="night" class="css-checkbox" type="checkbox" />
								<label for="night" name="night_name" class="css-label">&nbsp;&nbsp; Ночь</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="holiday" class="css-checkbox" type="checkbox" />
								<label for="holiday" name="holiday_name" class="css-label">&nbsp;&nbsp; Праздники</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="twotwo" class="css-checkbox" type="checkbox" />
								<label for="twotwo" name="twotwo_name" class="css-label">&nbsp;&nbsp; Два два</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;"><input value="Изменить" class="b_yellow" type="submit" /></td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;"><input value="Удалить" class="b_red" type="submit" /></td>
						 </tr>
						</table>
					</div>
					<!-- Left col END-->
					<div style="position:absolute; top:150px; left:150px; text-align:left;"><img src="images/settings_left_shadow.png" width="40" height="560" border="0"></div>
					<!-- Center col START-->
					<div style="position:absolute; top:180px; left:200px; width:300px; text-align:left; font-size:16px; color:#eee;">
						<p> c 19:00 до 20:00</p>
						<p> c 9:00 до 24:00 по пятницам</p>
						<p> c 19:00 до 20:00 15 мая</p>
						<p> c 11:00 до 16:00 19 мая</p>
					</div>
					<!-- Center col END-->
					<div style="position:absolute; top:150px; left:550px; text-align:left;"><img src="images/settings_right_shadow.png" width="40" height="560" border="0"></div>
					<div style="position:absolute; top:150px; left:600px; width:235px; text-align:left; font-size:16px; color:#eee;">
						<p><u>Добавить новое:</u></p>
						<table border="0">
						 <tr>
							<td style="width:90px; height:30px;" align="left">Название:</td>
							<td style="width:145px; height:30px;" align="right"><input class="forms" type="text" value="Введите название" onblur="if (value == '') {value = 'Введите название'}" onfocus="if (value == 'Введите название') {value =''}" title="Название" size="20" name="s_name" /></td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px;" align="left"><b><i>Начиная с:</i></b></td>
							<td style="width:145px; height:30px;" align="right"></td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">время</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_hour">
								<option value="00">00</option>
								<option value="01">01</option>
								<option value="02">02</option>
							  </select>
							  &nbsp;:&nbsp;
							  <select name="select_min">
								<option value="00">00</option>
								<option value="01">01</option>
								<option value="02">02</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">день недели</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_dweek">
								<option value="00">понедельник</option>
								<option value="01">вторник</option>
								<option value="02">среда</option>
								<option value="02">четверг</option>
								<option value="02">пятница</option>
								<option value="02">суббота</option>
								<option value="02">воскресенье</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">число</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_day">
								<option value="1">1</option>
								<option value="2">2</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">месяц</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_month">
								<option value="00">январь</option>
								<option value="01">февраль</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px;" align="left"><b><i>Заканчивая с:</i></b></td>
							<td style="width:145px; height:30px;" align="right"></td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">время</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_hour">
								<option value="00">00</option>
								<option value="01">01</option>
								<option value="02">02</option>
							  </select>
							  &nbsp;:&nbsp;
							  <select name="select_min">
								<option value="00">00</option>
								<option value="01">01</option>
								<option value="02">02</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">день недели</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_dweek">
								<option value="00">понедельник</option>
								<option value="01">вторник</option>
								<option value="02">среда</option>
								<option value="02">четверг</option>
								<option value="02">пятница</option>
								<option value="02">суббота</option>
								<option value="02">воскресенье</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">число</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_day">
								<option value="1">1</option>
								<option value="2">2</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:90px; height:30px; padding-left:10px;" align="left">месяц</td>
							<td style="width:145px; height:30px;" align="right">
							  <select name="select_month">
								<option value="00">январь</option>
								<option value="01">февраль</option>
							  </select>
							</td>
						 </tr>
						 <tr>
							<td style="width:235px; height:40px;" align="center"><input value="Сохранить" class="b_yellow" type="submit"></td>
						 </tr>
					</div>

				</div>
			</div>
			<!-- MAIN BLOCK END -->
		</td>
	</tr>
</table>
</center>

</body>
</html>