<!DOCTYPE html>
<html>
<head>
<meta HTTP-EQUIV="Content-Type" Content="text-html; charset=windows-1251">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body topmargin="0" leftmargin="0"  marginheight="0" style="background: url(images/background.jpg) top center no-repeat #000;">


<table style="width:100%; max-width:1280px;" cellspacing="0" cellpadding="0" align="center" >
	<tr>
		<td style="background-color: #002038; width:15%; height:800px; vertical-align:top;" class="prozr">
			<!-- MENU START -->
			<div id="menu">
				<a href="http://10.112.28.35/cam/?mod=live" class="cam">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=archive&day=0&cam=0" class="arc">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=cash" class="bal">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=settings" class="set">&nbsp;</a><br>
                <a href="http://10.112.28.35/cam/?mod=news" class="news">&nbsp;</a><br>
            </div>
			<!-- MENU END -->
		</td>
		<td align="center">
			<!-- MAIN BLOCK START -->
			<div id="main">
				<div style="position:relative; top:0px; left:0px; width:850px; height:800px; text-align:left;">
					<div style="position:absolute; top:100px; left:315px; width:535px; height:197; text-align:left;">
						<img src="images/logo_big.png" width="535" height="197" border="0"></img>
					</div>
					<div style="position:absolute; top:150px; left:10px; text-align:left;" id="smenu">
						<a href="#" class="runman">&nbsp;</a>
					</div>
					<div style="position:absolute; top:270px; left:100px; text-align:left;" id="smenu">
						<a href="#" class="rec3">&nbsp;</a>
					</div>
					<div style="position:absolute; top:390px; left:230px; text-align:left;" id="smenu">
						<a href="#" class="notif">&nbsp;</a>
					</div>
					<div style="position:absolute; top:490px; left:410px; text-align:left;" id="smenu">
						<a href="#" class="timetable">&nbsp;</a>
					</div>
					<div style="position:absolute; top:590px; left:600px; text-align:left;" id="smenu">
						<a href="#" class="persdata">&nbsp;</a>
					</div>					
				</div>
			</div>
			<!-- MAIN BLOCK END -->
		</td>
	</tr>
</table>
<center>

</body>
</html>