<!DOCTYPE html>
<html>
<head>
<meta HTTP-EQUIV="Content-Type" Content="text-html; charset=windows-1251">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body topmargin="0" leftmargin="0"  marginheight="0" style="background: url(images/background.jpg) top center no-repeat #000;">


<table style="width:100%; max-width:1280px;" cellspacing="0" cellpadding="0" align="center" >
	<tr>
		<td style="background-color: #002038; width:15%; height:800px; vertical-align:top;" class="prozr">
			<!-- MENU START -->
			<div id="menu">
				<a href="#"><img src="images/m_back.png" width="83" height="90" border="0"></a><br>
				<p align="center"><img src="images/m_dots.png" width="83" height="41" border="0"></p>
                <a href="#" class="m_rec3">&nbsp;</a><br>
                <a href="#" class="m_notif">&nbsp;</a><br>
				<a href="#" class="m_timetable">&nbsp;</a><br>
                <a href="#" class="m_persdata">&nbsp;</a><br>
            </div>
			<!-- MENU END -->
		</td>
		<td align="center" style="width:85%;">
			<!-- MAIN BLOCK START -->
			<div id="main">
				<div style="position:relative; top:0px; left:0px; width:850px; height:800px; text-align:left;">
					<div style="position:absolute; top:10px; left:500px; width:350px; height:104; text-align:left;">
						<img src="images/logo_small.png" width="350" height="104" border="0">
					</div>
					<!-- Left col START-->
					<div style="position:absolute; top:150px; left:26px; text-align:left; font-size:16px; color:#eee;">
						<p><u>Расписание:</u></p><br>
						<table border="0">
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="evening" class="css-checkbox" type="checkbox" />
								<label for="evening" name="evening_name" class="css-label">&nbsp;&nbsp;Вечер</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="morning" class="css-checkbox" type="checkbox" />
								<label for="morning" name="morning_name" class="css-label">&nbsp;&nbsp;Утро</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="day" class="css-checkbox" type="checkbox" />
								<label for="day" name="day_name" class="css-label">&nbsp;&nbsp; День</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="night" class="css-checkbox" type="checkbox" />
								<label for="night" name="night_name" class="css-label">&nbsp;&nbsp; Ночь</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="holiday" class="css-checkbox" type="checkbox" />
								<label for="holiday" name="holiday_name" class="css-label">&nbsp;&nbsp; Праздники</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;">
								<input id="twotwo" class="css-checkbox" type="checkbox" />
								<label for="twotwo" name="twotwo_name" class="css-label">&nbsp;&nbsp; Два два</label>
							</td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;"> </td>
						 </tr>
						 <tr>
							<td style="width:100px; height:40px;"><input value="Применить" class="b_yellow" type="submit" /></td>
						 </tr>
						</table>
					</div>
					<!-- Left col END-->
					<div style="position:absolute; top:150px; left:150px; text-align:left;"><img src="images/settings_left_shadow.png" width="40" height="560" border="0"></div>

					<!-- Просмотры START-->
					<div style="position:absolute; top:150px; left:26px; text-align:left;">
						<div style="position:relative; top:0px; left:0px; width:799px; height:646px; text-align:left;">
							<div style="position:absolute; top:50px; left:160px; width:410px; height:308; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="410" height="308" border="0"></a></div>
							<div style="position:absolute; top:380px; left:160px; width:420px; height:300; text-align:left;">
								<p class="font16">Действующее расписание:</p>
								<table border="0">
									<tr>
										<td style="width:420px; height:40px;">
											<input id="evening" class="css-checkbox" type="checkbox" />
											<label for="evening" name="evening_name" class="css-label">&nbsp;&nbsp;Вечер</label>
										</td>
									</tr>
									<tr>
										<td style="width:420px; height:40px; text-align:right; padding-right:30px;"><input value="Удалить" class="b_red" type="submit" /></td>
									</tr>
								</table>
							</div>

							<div style="position:absolute; top:0px; left:590px; width:133px; height:100; text-align:center;" class="kadr_hl"><a href="#"><img src="kadri.png" width="133" height="100" border="0"></a></div>
							<div style="position:absolute; top:110px; left:590px; width:133px; height:100; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="133" height="100" border="0"></a></div>
							<div style="position:absolute; top:220px; left:590px; width:133px; height:100; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="133" height="100" border="0"></a></div>
							<div style="position:absolute; top:330px; left:590px; width:133px; height:100; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="133" height="100" border="0"></a></div>
							<div style="position:absolute; top:440px; left:590px; width:133px; height:100; text-align:center;" class="kadr_norm"><a href="#"><img src="kadri.png" width="133" height="100" border="0"></a></div>
							<!-- Стрелки начало-->
							<div style="position:absolute; top:2px; right:2px; width:40px; height:30; text-align:center;"><a href="#"><img src="images/button_arrow_up.png" width="40" height="30" border="0"></a></div>
							<div style="position:absolute; top:515px; right:2px; width:40px; height:30; text-align:center;"><a href="#"><img src="images/button_arrow_down.png" width="40" height="30" border="0"></a></div>
							<!-- Стрелки конец-->
						</div>
					<!-- Просмотры END-->
				</div>
			</div>
			<!-- MAIN BLOCK END -->
		</td>
	</tr>
</table>
</center>

</body>
</html>